/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* 
Mobile Viewport
*/

/* 
Container/Full Page
*/

.container {
  min-width: 500px;
  box-sizing: border-box;
}

p {
  line-height: 1.2;
}

/* 
Header
*/

header {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid grey;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header nav a {
  text-decoration: none;
  color: #b0b0b0;
  padding: 4% 0;
  font-size: 1.2em;
  border-top: 1px solid grey;
  width: 100%;
}

header div {
  display: flex;
  justify-content: center;
  margin: 4%;
}

/* Banner */

.banner-image {
  display: none;
}

.banner {
  margin: 15% 0;
}

.banner-content {
  text-align: center;
}

.banner-title {
  font-size: 4.5em;
}

.banner-content button {
  padding: 5px 40px;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  font-family: "Titillium Web";
  font-weight: bolder;
}

/* Main Section */

main {
  margin: 0 2.5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

main img {
  width: 100%;
}

.section-top {
  margin: 8.5% 0;
}

.section-bottom {
  margin: 8.5% 0;
}

/* Footer */

footer {
  margin: 8.5% 2.5%;
}

.phone {
  margin: 2.5% 0;
}

.copyright {
  text-align: center;
  margin-top: 5%;
}

/* 
Tablet Viewport
*/

@media (min-width: 800px) {
  /* Header */
  header {
    border-bottom: none;
  }

  header nav {
    flex-direction: row;
  }

  header nav a {
    padding: 0;
    border-top: none;
    font-size: 1em;
  }

  /* Banner */
  .banner {
    margin: 10% 0;
  }

  /* Main Section */
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .section-top {
    width: 46%;
    margin: 4% 2%;
  }

  .section-bottom {
    width: 29.3%;
    margin: 4% 2%;
  }

  /* Footer */
  footer {
    margin: 4% 4%;
  }
}

/* 
Desktop Viewport
*/

@media (min-width: 1000px) {
  .container {
    max-width: 876px;
    margin: 0 auto;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    width: 80%;
    justify-content: space-between;
  }

  /* Banner */

  .banner {
    display: flex;
    justify-content: space-around;
  }

  .banner-image {
    display: block;
  }
}
